# Supabase — obtener en: Project Settings > API
VITE_SUPABASE_URL=https://vzzenfzjsatfkxsmqzrv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ6emVuZnpqc2F0Zmt4c21xenJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MDU1MjMsImV4cCI6MjA5MDA4MTUyM30.7c-mANvE_hIEO3jGLUYnFtD6gCuKOyKd1-HR4ueCuYk
